body{
    box-sizing: border-box;
    margin: 0;
    background-color: hsl(33, 100%, 98%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
}

main{
    width: 95%;
    max-width: 30rem;
    margin-bottom: 1rem;
}

.balance-section{
    display: flex;
    justify-content: space-between;
    background-color: hsl(10, 79%, 65%);
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    color: hsl(33, 100%, 98%);
    margin-bottom: 1rem;
}

.balance-label{
    font-size: 1rem;
    font-weight: 400;
}
.money-label{
    font-weight: 700;
    font-size: 1.7rem;
    margin:0;
    margin-top: -0.4rem;
}
.history-section{
    background-color: white;
    padding: 1.2rem 1.5rem;
    border-radius: 1rem;
}
.spending-label{
    font-size: 1.75rem;
    margin: 0;
}

.bar-chart{
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
}
.bar-details-label{
    background-color: hsl(25, 47%, 15%);
    color:hsl(33, 100%, 98%);
    padding: 0.4rem;
    border-radius: 0.4rem;
    margin-bottom: -0.1rem;
}
.invisible{
    opacity: 0;
}
.visible{
    opacity: 1;
}
.bar-group{
    width: 11%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.4rem;
}
.bar{
    width: 100%;
    background-color: black;
    max-height: 11rem;
    margin-bottom: 0;
    background-color: hsl(10, 79%, 65%);
    cursor: pointer;
    transition: filter 0.3s ease-in-out;
    border-radius: 0.2rem;
    opacity: 0;
}
.bar:hover{
    filter: brightness(115%);
}
.bar.most-expensive{
    background-color: hsl(186, 34%, 60%);
}
.day{
    margin: 0;
    color: hsl(28, 10%, 53%);
}

.separator{
    width: 100%;
    height: 0.1rem;
    margin-top: 1rem;
    background-color: hsl(33, 100%, 98%);
}
.monthly-expenses{
    margin-top: 1rem;
}
.month-info{
    display: flex;
    justify-content: space-between;
}
.total-label{
    font-size: 1rem;
    font-weight: 400;
}
.sum{
    font-size: 2rem;
    font-weight: 700;
}
.percent-div{
    text-align: right;
}
.percent{
    font-weight: 700;
}
.percent, .sum, .spending-label{
    color: hsl(25, 47%, 15%);
}
.total-label, .last-month{
    color: hsl(28, 10%, 53%);
}
.total-label, .last-month, .percent, .sum{
    margin: 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 450px) {
    .bar-details-label{
        font-size: 0.8rem;
    }
}
